### VisualStudioCode ###
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.powershell
.stestr/
*.zip

# Sonarqube
.scannerwork/
.sonarqube/

.DS_Store
__pycache__
build/
dist/
bin/
.tox/
.pylintrc

# From nightly file creation script
template.json

# Installer server binary and other files
server/main
installerstore
installer.template.json
/templates
server/server
coverage.txt
.env
test/templates/*/

# Pyenv file
.python-version

**/node_modules

npm-debug.log*
