{
	# Global options block. Entirely optional, https is on by default
	# Optional email key for lets encrypt
	email {$ACME_ACCOUNT_EMAIL}
	# Optional staging lets encrypt for testing. Comment out for production.
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

{$SITE_URL} {
	handle /api* {
		reverse_proxy http://{$HOSTNAME}:{$SERVER_LOCAL_PORT}
	}

	handle /modm* {
		reverse_proxy http://{$HOSTNAME}:{$MODM_LOCAL_PORT}
	}
}
