.deploymentStepsCont {
    width: 75%;
    
  }
  .deploy-step{
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    background-color: white;
  }
  
  .deployment-info {
    display: inline-flex;
    width: 25%;
  }
  
  .step-name {
    margin-left: 10px;
  }
  
  .timeTaken {
    width: 75%;
  }
  
  .attempt {
    width: 100%;
    padding-left: 2%;
  }