html, body, #root {
  height: 100%;
}

.cardbody {
  /* display: inline-block; */
  width: auto !important;
  height: 10rem;
  overflow: scroll;
}
	
.pf-c-progress {
  padding-right: 10px !important;
  font-size: 1rem !important;
}

.service-list {
  margin-left:0px;
  padding-left:0px;
  display: flex;
  flex-direction: row;
  }

.deployment-info {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}

.deployment-info > * {
  margin-right: 10px;
}

.ws-core-u-alignment .pf-u-text-align-left {
  padding: .5rem !important;
}

.ws-core-u-alignment .pf-u-text-align-right {
  padding: .5rem !important;
}

.cancelButton {
    margin: 10px 10px 10px 370px;
}


.SuccessMessage {
  margin: 5px 10px 5px 240px;
}

.card {
  width: 203%
}

.progress {
  width: 203%;
}

.textView {
  margin-right: auto;
}
