.deployProgress {
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    background-color: white;
    width: 75%;
}

.deployProgress h1 {
    text-align: center;
}
