name: Build and test of server code
on:
  push:
    branches:
      - main
    paths:
      - 'server/**' # Only applicable if any server code was changed
  pull_request:
    branches:
      - main
    paths:
      - 'server/**' # Only applicable if any server code was changed
jobs:
  Build-and-Test-Server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19.4' # The Go version to download (if necessary) and use.
      - name: Install go linter
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
      - name: Run make in server directory
        run: |
          cd server
          make
      - name: Run Go linter
        run: |
          cd server
          golangci-lint run
