name: Code analysis of server code
on:
  push:
    branches:
      - main
    paths: # Only applicable if any go code was changed
      - 'server/**/*.go'
      - 'server/*.go'
  pull_request:
    branches:
      - main
        #paths: # Only applicable if any go code was changed
        #- 'server/**/*.go'
        #- 'server/*.go'
jobs:
  Build-Test-and-Analyze-Server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19.2' # The Go version to download (if necessary) and use. Make sure it is in sync with build and test workflow
      - name: Run server tests
        run: |
          cd server
          make test-with-coverage
      - name: Run SonarQube analysis
        env:
          SONAR_PROJECT_TOKEN: ${{ secrets.SONAR_PROJECT_TOKEN }}
        if: ${{ github.event_name == 'push' && github.repository == 'ansible/azure-aap-deployment-driver' }}
        run: tools/run_sonarqube.sh server
      - name: Run gosec security checker
        env:
          GO111MODULE: on
        uses: securego/gosec@v2.18.0
        with:
          args: server/...
